@charset "utf-8";

/* ----------------- 공통 ----------------- */


/* ----------------- 장바구니 ----------------- */

/* 레이아웃 */
.contants_area.cart {float:inherit; width:100%; margin:0;}
.contants_area.cart .lnb_area h2 {padding:20px 0 20px 26px;}
.contants_area.cart .top_txt {margin:20px 0 -10px; font-size:13px; text-align:center;}
.contants_area.cart .contents_box {padding:30px;}
.contants_area.cart .no_bg {padding:0;}
.contants_area.cart h5 {font-size:14px; font-weight:600; margin:0 0 5px 5px;}
/* //레이아웃 */




/* 주문 단계 */
.tab_cart {overflow:hidden; margin:40px 0 30px; padding:0 20px 30px; border-bottom:2px solid #99072b;}
.tab_cart h3 {float:left; margin:0; font-size:36px;}
.tab_cart h3 strong {font-weight:600; vertical-align:middle;}
.tab_cart h3 i {display:inline-block; height:56px; margin:0 12px 0 0; vertical-align:middle;}
.tab_cart.step1 h3 i {width:65px; background:url(/common/images/icon_cart_step1.png) no-repeat;}
.tab_cart.step2 h3 i {width:54px; background:url(/common/images/icon_cart_step2.png) 0 -2px no-repeat;}
.tab_cart.step3 {padding:0 20px 40px;}
.tab_cart.step3 h3 i {width:45px; background:url(/common/images/icon_cart_step3.png) no-repeat;}
.tab_cart.step3 ul {margin:5px 0;}

.tab_cart p {clear:both; padding:10px 0 0; font-size:13px; color:#555; line-height:170%;}
.tab_cart ul {float:right; margin:15px 0 -5px;}
.tab_cart ul li {display:inline-block; font-size:16px; font-weight:600; color:#333; line-height:44px; text-align:right;}
.tab_cart ul li em {display:inline-block; width:14px; height:48px; margin:0 30px; background:url(/common/images/icon_cart_step_li.png) center no-repeat; vertical-align:middle;}
.tab_cart ul li span {display:inline-block; width:48px; height:48px; margin:0 5px 0 0; text-indent:99999px;}
.tab_cart ul li.no01 span {background:url(/common/images/icon_cart_step_no1.png) no-repeat;}
.tab_cart ul li.no02 span {background:url(/common/images/icon_cart_step_no2.png) no-repeat;}
.tab_cart ul li.no03 span {background:url(/common/images/icon_cart_step_no3.png) no-repeat;}
.tab_cart ul li.no01.curr span {background:url(/common/images/icon_cart_step_no1_r.png) no-repeat;}
.tab_cart ul li.no02.curr span {background:url(/common/images/icon_cart_step_no2_r.png) no-repeat;}
.tab_cart ul li.no03.curr span {background:url(/common/images/icon_cart_step_no3_r.png) no-repeat;}
/* //주문 단계 */




/* 상품 리스트 */
.cart_list {}
.cart_list strong {font-weight:600;}
.cart_list thead th,.cart_list thead td {padding:5px 10px 7px; background:#f0e9d7; border-bottom:1px solid #d7d5cf; border-top:1px solid #d7d5cf;}
.cart_list tbody th,.cart_list tbody td {border-bottom:1px solid #efefef;}
.cart_list thead th {background:#f0e9d7; font-size:13px; font-weight:600; line-height:170%; text-align:center;}
.cart_list thead th:nth-child(1),.cart_list thead td:nth-child(1) {border-left:1px solid #d7d5cf;}
.cart_list thead th:nth-last-child(1),.cart_list thead td:nth-last-child(1) {border-right:1px solid #d7d5cf;}

.cart_list thead th a {display:block; padding:0 7px 2px;width:90px; background:#fff; border:1px solid #d0ccc0; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:12px; color:#000; text-decoration:none;}
.cart_list thead th a:hover {border:1px solid #807a68;}
.cart_list thead th a.qmark {display:inline-block;  position:absolute; top:40px; left: 350px; width:17px; height:17px; margin:0 0 2px 6px; background:url(/common/images/icon_pointinfo.png) no-repeat; text-indent:-99999px; vertical-align:middle; min-width:auto; border:0; padding:0;}
.cart_list tbody tr:hover {background:#f9f9f9;}
.cart_list tbody td {padding:11px 10px 13px; font-size:13px; line-height:0; text-align:center;}
.cart_list tbody a {color:#000; text-decoration:none; line-height:170%;}
.cart_list tbody a.btn {display:inline-block; height:25px; margin:1px 0; padding:0 12px; background:#fafafa; border:1px solid #ccc; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:11px; font-weight:600;  color:#333; line-height:190%; text-decoration:none; vertical-align:middle;}
.cart_list tbody a.btn:hover {background:#555; border:1px solid #444; color:#fff;}
.cart_list tbody a.btn2 {display:inline-block; height:25px; margin:1px 0; padding:0 12px; background:#777; border:1px solid #666; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:11px; font-weight:600;  color:#fff; line-height:190%; text-decoration:none; vertical-align:middle;}
.cart_list tbody a.btn2:hover {background:#555; border:1px solid #444; color:#fff;}
.cart_list tbody a.btn_del {display:inline-block; height:25px; margin:1px 0; padding:0 12px; background:#90949a url(/common/images/btn_close_table.png) center no-repeat; background-size:10px 10px; border:1px solid #888; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-indent:-99999px; vertical-align:middle;}
.cart_list tbody a.btn_del:hover {background:#555 url(/common/images/btn_close_table.png) center no-repeat; background-size:10px 10px; border:1px solid #444;}
.cart_list tbody .list_select input {position:inherit; width:16px; height:16px; border:1px solid #d0d0d0;}
.cart_list tbody a.btn_gray {display:inline-block; height:25px; margin:1px 0; padding:0 12px 1px; background:#777; border:1px solid #666; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:11px; font-weight:600; line-height:190%; color:#fff; text-decoration:none; transition:all .1s;}
.cart_list tbody a.btn_gray:hover {background:#555; border:1px solid #444; transition:all .1s;}
.cart_list tbody a.btn_edit {display:inline-block; height:25px; margin:1px; padding:0 12px 1px; background:#90949a url(/common/images/icon_main_makename_w.png) center no-repeat; background-size:10px 10px; border:1px solid #888; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-indent:-99999px; vertical-align:middle;}
.cart_list tbody a.btn_edit:hover {background:#555 url(/common/images/icon_main_makename_w.png) center no-repeat; background-size:10px 10px; border:1px solid #444;}

.cart_list tbody .left {padding:11px 10px 13px; text-align:left;}
.cart_list tbody .left strong {font-weight:600;}
.cart_list tbody .thumb {padding:11px 0 13px; text-align:left;}
.cart_list tbody .thumb.p0 {padding:0;}
.cart_list tbody .thumb a {display:table; padding:0; background:none; border:0; font-size:13px;}
.cart_list tbody .thumb .thumb_img {display:table-cell; position:relative; line-height:0; text-align:center; vertical-align:middle;}
.cart_list tbody .thumb .thumb_txt {display:table-cell; padding:0 0 0 15px; vertical-align:middle; font-weight:600; line-height:170% !important;}
.cart_list tbody .thumb .thumb_txt em {display:block; font-size:12px; color:#777; font-weight:400; font-style:normal;}
.cart_list tbody .thumb a:hover {border:0; text-decoration:underline;}
.cart_list tbody .thumb a:hover .thumb_img img {border:1px solid #999; opacity:0.7;}

.cart_list tbody .thumb.book .thumb_img img {width:70px; border:1px solid #eaeaea;}
.cart_list tbody .thumb.media .thumb_img img {width:70px; height:70px; border:1px solid #eaeaea;}
.cart_list tbody .thumb.media .thumb_img.dvd img {width:70px; height:auto; border:1px solid #eaeaea;}

.cart_list tbody .price {margin:8px 0 20px; font-weight:600; color:#3d83a5;}
.cart_list tbody .price strong {margin:0; color:#99072b; line-height:180%;}
.cart_list tbody .price strong span {}
.cart_list tbody .price span {font-weight:400; color:#777;}
.cart_list tbody .price em {margin:2px 0 0 8px; font-style:normal;}
.cart_list tbody .price i.i_point {display:inline-block; width:20px; height:20px; margin:-2px 0 0 -5px; background:url(/common/images/icon_point.png) center no-repeat; vertical-align:middle; text-indent:-99999px;}

.cart_list tbody .cart_input {position:relative; line-height:170%;}
.cart_list tbody .cart_input input {display:inline-block; width:36px; height:25px; margin:0 4px 0 0; border:1px solid #cdcdcd; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:13px; font-weight:600; text-align:center; vertical-align:middle;}
.cart_list tbody .cart_input a {display:inline-block; width:40px; padding:0; text-align:center; vertical-align:middle;}
.cart_list tbody .txt {line-height:170%;}

.cart_list tbody td span.lock {display:inline-block;width:12px; height:15px; margin:4px 0 0 6px; background:url(/common/images/icon_lock.png) no-repeat; text-indent:-99999px; vertical-align:top;}
.cart_list tbody td span.answer {display:inline-block;width:19px; height:17px; margin:3px 0 0 10px; background:url(/common/images/icon_list_answer.png) center no-repeat; text-indent:-99999px; vertical-align:top;}
/* //상품 리스트 */




/* 상품 합계 */
.cart_total {display:table; width:100%; background:#555;}
.cart_total li {display:table-cell; width:25%; padding:35px 0 40px; font-size:18px; color:#fff; list-style:none; vertical-align:middle; text-align:center;}
.cart_total li span {display:block; font-size:14px; opacity:0.9;}
.cart_total li strong {font-weight:600;}
.cart_total .no_view {line-height:0; text-indent:-99999px;}
.cart_total .point strong {color:#40b2ea;}
.cart_total .point i.i_point {display:inline-block; width:20px; height:20px; margin:-2px 0 0 -5px; background:url(/common/images/icon_point.png) center no-repeat; vertical-align:middle; text-indent:-99999px;}
.cart_total .total strong {color:#ff386c;}
/* //상품 합계 */




/* 주의사항 */
.contents_info_box {position:relative; width:100%; padding:5px 0 20px 20px; font-size:13px; line-height:170%;}
.contents_info_box.p0 {width:680px; margin:0 auto;}
.contents_info_box li {padding:5px 0 5px 22px; background:url(/common/images/bl_b.png) 8px 15px no-repeat; font-size:13px; line-height:170%; list-style:none;}
.contents_info_box a {display:inline-block; padding:2px 10px 4px; background:#fff; border:1px solid #d2d2d2; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:12px; font-weight:600; line-height:160%; color:#000; text-decoration:none;}
.contents_info_box a:hover {border:1px solid #999;}
/* //주의사항 */

/* ----------------- //장바구니 ----------------- */









/* ----------------- 주문/결제 ----------------- */

/* 레이아웃 */
.contants_area.cart .top_txt2 {margin:20px 0 25px; font-size:13px; text-align:center;}
.contants_area.cart .cart_list {margin:0 0 30px;}
.contants_area.cart h4 .info {display:inline-block; width:24px; height:24px; margin:0 10px 2px 0; background:url(/common/images/icon_infomation.png) no-repeat; vertical-align:middle;}

.contents_box.cart,
.contents_box_cart
{
    display:table; overflow:hidden; padding:0; background:#efefef; border:1px solid #dfdfdf;
}
.contents_box.cart .left_box,
.contents_box_cart .left_box
{
    float:left; width:920px; padding:20px 40px; background:#fff; border-right:1px solid #dfdfdf;
}
.contents_box.cart .left_box h5,
.contents_box_cart .left_box h5
{
    width:680px; margin:0 auto; font-size:14px; font-weight:600;
}
.contents_box.cart .left_box.cart_input_wrap,
.contents_box_cart .left_box.cart_input_wrap
{
    padding:20px 30px;
}
.contents_box.cart .left_box.cart_input_wrap .input_box,
.contents_box_cart .left_box.cart_input_wrap .input_box
{
    width:680px;
}
.contents_box.cart .left_box.cart_input_wrap .input_box li .i_inputs,
.contents_box_cart .left_box.cart_input_wrap .input_box li .i_inputs
{
    width:500px;
}

.contents_box.cart.no_bg,
.contents_box_cart.no_bg
{
    background:#fff;
}
.contents_box.cart.no_bg .left_box,
.contents_box_cart.no_bg .left_box
{
    background:none; border-right:none;
}

.left_box .cart_list tbody .thumb {padding-left:30px;}
.left_box .cart_list tbody .left {padding-left:50px;}
/* //레이아웃 */




/* 버튼 */
.btn_cart {position:relative; overflow:hidden; margin:0 auto; padding-top: 40px; text-align:center;}
.btn_cart a {display:inline-block; padding:7px 30px 9px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:16px; font-weight:600; line-height:160%; text-decoration:none; transform:all .1s;}
.btn_cart a:hover {text-decoration:none; transform:all .1s;}
.btn_cart a.btn_red {background:#99072b; border:1px solid #99072b; color:#fff;}
.btn_cart a.btn_black {background:#777; border:1px solid #555; color:#fff;}
.btn_cart a.btn_white {background:#fff; border:1px solid #ccc; color:#333;}
.btn_cart a.btn_red:hover {background:#660010; border:1px solid #660010;}
.btn_cart a.btn_black:hover {background:#444; border:1px solid #111;}
.btn_cart a.btn_white:hover {background:#fafafa; border:1px solid #aaa;}

.btn_cart a.qmark {display:inline-block;  position:absolute; top:18px; left: 530px; width:17px; height:17px; margin:0 0 2px 6px; background:url(/common/images/icon_pointinfo.png) no-repeat; text-indent:-99999px; vertical-align:middle; min-width:auto; border:0; padding:0;}

.btn_cart_final {overflow:hidden; margin:40px auto 0; text-align:center;}
.btn_cart_final a {display:block; margin:4px 0; padding:10px 30px 12px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:16px; font-weight:600; line-height:160%; text-decoration:none; transform:all .1s;}
.btn_cart_final a:hover {text-decoration:none; transform:all .1s;}
.btn_cart_final a.btn_red {padding:20px 30px 24px; background:#99072b; border:1px solid #99072b; font-size:24px; color:#fff;}
.btn_cart_final a.btn_white {background:#fff; border:1px solid #ccc; color:#333;}
.btn_cart_final a.btn_red:hover {background:#660010; border:1px solid #660010;}
.btn_cart_final a.btn_white:hover {background:#fafafa; border:1px solid #aaa;}

/* //버튼 */




/* 상품 합계 */
.cart02_total_box {overflow:hidden; padding:20px 0; background:#f0e9d7; text-align:center;}
.cart02_total_box span {display:inline-block; font-size:15px; font-weight:600; vertical-align:middle;}
.cart02_total_box strong {margin:0 10px; font-size:21px; font-weight:800; letter-spacing:-0.05em;}
.cart02_total_box strong.red {color:#99072b;}
.cart02_total_box strong.black {color:#222;}
.cart02_total_box strong.blue {color:#3d83a5;}
.cart02_total_box strong .i_point {display:inline-block; width:20px; height:20px; margin:-1px 0 0 5px; background:url(/common/images/icon_point.png) center no-repeat; vertical-align:middle;}
.cart02_total_box .mileage {min-width:inherit; font-size:15px; color:#333; font-weight:400;}
.cart02_total_box .mileage strong {margin:0; font-size:15px; color:#333; font-weight:600; letter-spacing:-0.05em;}
.cart02_total_box i {font-style:normal;}
.cart02_total_box .icon {display:inline-block; width:40px; height:40px; margin:10px 30px; background:#fff; border:1px solid #ccc; -moz-border-radius:36px; -khtml-border-radius:36px; -webkit-border-radius:36px; border-radius:36px; font-size:25px; font-weight:900; line-height:150%; color:#99072b; text-align:center; vertical-align:middle;}
.cart02_total_box .li {display:inline-block; height:40px; margin:30px 0; padding:0 18px; font-size:25px; line-height:150%; color:#d7d5cf; font-weight:400; text-align:center; vertical-align:middle;}

.cart02_total_final {display:table-cell; width:280px; padding:40px 25px; background:#efefef; border-left:1px solid #dfdfdf; vertical-align:middle;}
.cart02_total_final p {overflow:hidden; margin-bottom:5px; font-size:13px; line-height:170%;}
.cart02_total_final p.txt2 {font-size:12px; text-align:center;}
.cart02_total_final p span {float:left;}
.cart02_total_final p strong {float:right; font-weight:600;}
.cart02_total_final p.txt span {float:inherit;}
.cart02_total_final p.txt strong {float:inherit;}
.cart02_total_final p.txt .i_checkbox input {width:15px; height:15px; margin:0 4px 0 0; vertical-align:middle;}
.cart02_total_final .total_box {margin:20px 0; padding:20px 0 10px; background:#555; color:#fff; text-align:center;}
.cart02_total_final .total_box span {display:block; font-size:14px; line-height:100%;}
.cart02_total_final .total_box strong {display:block; font-size:28px; font-weight:600; line-height:180%; color:#fecb55; letter-spacing:-0.05em;}
.cart02_total_final .btn_defualt {padding:0;}
.cart02_total_final .btn_defualt a {display:block; margin:4px 0; padding:10px 25px 12px; font-size:16px;}
/* //상품 합계 */




/* 주문정보 입력 */
.cart_input_wrap {width:960px; margin:10px auto;}
/* //주문정보 입력 */

/* ----------------- //주문/결제 ----------------- */









/* ----------------- 주문 완료 ----------------- */

/* 레이아웃 */
.wrap_cart_end {overflow:hidden; margin:-32px 0 0; padding:20px 119px; background:#fff; border:1px solid #f3f3f3;}
.wrap_cart_end h4 {margin:15px 0 7px 10px;}
.wrap_cart_end .contents_box {border:1px solid #dfdfdf;}
.contants_area.cart .top_tit {display:block; margin:40px 0 20px; font-size:30px; font-weight:600; color:#99072b; text-align:center;}
.contants_area.cart .cart03_box {padding:0 30px; text-align:center;}
.contants_area.cart .cart03_box p {font-size:13px; line-height:170%;}
.contants_area.cart .cart03_box span {display:inline-block; margin:0 15px 0 0; font-size:14px;}
.contants_area.cart .cart03_box strong {font-size:14px; font-weight:600;}
.contants_area.cart .cart03_box a {display:inline-block; height:30px; padding:0 15px; background:#777; border:1px solid #666; -moz-border-radius:30px; -khtml-border-radius:30px; -webkit-border-radius:30px; border-radius:30px; font-size:12px; color:#222; font-weight:600; color:#fff; line-height:26px; text-align:center; text-decoration:none; transition:all .1s;}
.contants_area.cart .cart03_box a:hover {background:#555; border:1px solid #444; color:#fff; transition:all .1s;}
.cart_input_wrap .input_box li .i_inputs .txt .cap {vertical-align:top;}
/* //레이아웃 */




/* 기본정보 */
.cart_end_info {}
.cart_end_info table {width:100%; border-top:1px solid #eaeaea; border-left:1px solid #eaeaea;}
.cart_end_info table th {padding:7px 15px; background:#f9f8f5; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; font-size:13px;}
.cart_end_info table td {padding:7px 25px; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; font-size:13px;}
.cart_end_info table td .cap {display:block; font-weight:600; color:#99072b;}
/* //기본정보 */




/* 결제정보 */
.cart_total_table {padding:20px; border:1px solid #eaeaea;}
.cart_total_table table {width:100%;}
.cart_total_table table td {text-align:right;}
.cart_total_table table span {display:inline-block; font-size:13px; font-weight:600; vertical-align:middle;}
.cart_total_table table strong {margin:0 10px; font-size:18px; font-weight:800; letter-spacing:-0.05em;}
.cart_total_table table strong.red {color:#99072b;}
.cart_total_table table strong.black {color:#222;}
.cart_total_table table strong.blue {color:#3d83a5;}
.cart_total_table table strong .i_point {display:inline-block; width:20px; height:20px; margin:-1px 0 0 5px; background:url(/common/images/icon_point.png) center no-repeat; vertical-align:middle;}

.cart_total_table table .icon {display:inline-block; width:40px; height:40px; margin:10px 20px; background:#fff; border:1px solid #ccc; -moz-border-radius:36px; -khtml-border-radius:36px; -webkit-border-radius:36px; border-radius:36px; font-size:25px; font-weight:900; line-height:150%; color:#99072b; text-align:center; vertical-align:middle;}
.cart_total_table table .mileage {margin:5px 10px; padding:10px 8px; border-top:1px solid #eaeaea; font-size:13px; text-align:right;}
.cart_total_table table .mileage strong {margin:0; font-size:13px; color:#333; font-weight:600; letter-spacing:-0.05em;}
.cart_total_table table i {font-style:normal;}
.cart_total_table table tfoot td {padding:10px 0; background:#f9f8f5; font-size:12px; color:#555; line-height:170%; text-align:center;}
/* //결제정보 */




/* 주의사항 */
.wrap_cart_end .contents_info_box {padding:5px 0 20px 10px;}
/* //주의사항 */

/* ----------------- //주문 완료 ----------------- */
