<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="spring.project.bookshop4.persistence.ExtraDAO">
	<insert id="addMessage" parameterType="String">
		INSERT INTO message(num, message, time)
		VALUES (message_seq.nextval, #{message}, sysdate)
	</insert>

	<select id="getMessage" resultType="spring.project.bookshop4.vo.MessageVO">
		SELECT *
		FROM message 
		ORDER BY time desc
	</select>
	
	<delete id="deleteMessage" parameterType="int">
		delete FROM message
		WHERE num = #{num}
	</delete>
</mapper>